{% extends 'page_base.html' %}
{% block title %}購買{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
	<form method="POST" action="/buyitem">
		{{ form.csrf_token }}
		{{ form.item_id }}
		{{ form.qty.label }}
		{{ form.qty }}
		{{ form.address.label }}
		{{ form.address }}
		<label for="total">總計</label>
		<p id="total">$ 0</p>
		<div class="container">
			<div class="row">
				<div class="col-md-6"><input class="back_btn btn" type="button" value="回到上一頁" onclick="history.back()"/></div>
				<div class="col-md-6">{{ form.submit }}</div> 
			</div>
		</div>
	</form>
	<script>
		window.onload = function(){
			console.info("ready");
			const form_item_id = document.getElementById("item_id");
			form_item_id.value = sessionStorage.getItem("item_id");
			const qty_input = document.getElementById("qty_input");
			const total_label = document.getElementById("total");
			var item_price = sessionStorage.getItem("item_price");
			total_label.textContent = "$ " + item_price;
			qty_input.addEventListener('change', function(){
				total_label.textContent = "$ " + qty_input.value * item_price;
			});
		}
	</script>

{% endblock %}