{% extends 'page_base.html' %}

{% block title %}主頁{% endblock %}

{% block content %}
	<div class="item_card">
		<h2>{{ item_name }}</h2>
    	<p>${{ price }}</p>
		<div style="white-space: pre-line;">{{ desc }}</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6"><input class="btn" type="button" value="買！" onclick="gotoCheckout({{item_id}}, {{price}});"/></div>
			<div class="col-md-6"><input class="btn float-right" type="button" value="更多推薦" onclick="location.reload()"/></div> 
		</div>
	</div>
<script>
	function gotoCheckout(id, price)
	{
		sessionStorage.setItem("item_id", id);
		sessionStorage.setItem("item_price", price);
		window.location.href = "{{ url_for('buyitem_page') }}";
	}

</script>
{% endblock %}
