{% extends 'page_base.html' %}
{% block title %}訂單列表{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
{% for tran in transacs %}
<div class="list_card">
	<div class="container">
		<div class="col">
			<div class="row-md-6">
				<div class="col-md-6">
					<label >{{tran.item.name}} X {{tran.qty}}</label>
				</div>
				<div class="col-md-6">
					<label for="tran_date">交易日期:</label><p name="tran_date">{{tran.create_at}}</p>
				</div>

				<div class="col-md-6">
					<label>賣家:</label> {{tran.seller.username}}
				</div>
				
				<div class="col-md-6">
					<label>地址:</label> {{tran.address}}
				</div>
				<div class="col-md-6">
					<label>總計:</label> ${{tran.price}}
				</div>
				<form action="{{ url_for('orderlist_page') }}" method="POST" id="form{{tran.id}}">
					{{ form.csrf_token }}
					<input id="transac_id" name="transac_id" required="" type="hidden" value={{tran.id}}>
					{% if tran.state == 1 %}
						{{ form.finish }}
					{% endif %}
				</form>
			</div> 
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
