<!doctype html>
<title>{% block title %}{% endblock %} - 仙人賣</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1><a href="/">CactuSell</a></h1>
  <ul>
      <li><a href="{{ url_for('userinfo_page') }}">我的資料</a>
      <li><a href="{{ url_for('orderlist_page') }}" >管理訂單</a>
      <li><a href="{{ url_for('shelf_page') }}" >管理商品</a>
      <li><a href="{{ url_for('logout') }}">登出</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class={{ category }}>{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>