{% extends 'page_base.html' %}
{% block title %}貨架{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<input class="btn" type="button" style="margin-top: 1.5rem;" value="上架" onclick="location.href='/additem'"/>
{% for item in items %}
	<div class="list_card">
		<div class="container">
			<div class="col">
				<div class="row-md-6">
					<label >{{item.name}}</label>
				</div> 
			</div>
			<div class="col">
				<div class="row-md-6">
					<form action="{{ url_for('shelf_page') }}" method="POST" id="form{{item.id}}">
						{{ form.csrf_token }}
						<input id="item_id" name="item_id" required="" type="hidden" value={{item.id}}>
						{{ form.edit_btn }}
						{{ form.del_btn }}
					</form>
				</div> 
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}
