{% extends 'page_base.html' %}

{% block title %}我的資料{% endblock %}

{% block content %}
<dl class="info_card">
    <dt>
        <label>帳號:</label> {{ user.username }}
    </dt>
    
    <dt>
        <label>真實姓名:</label> {{ user.real_name }}
    </dt>
    
    <dt>
        <label>電話號號:</label> {{ user.phone_no }}
    </dt>

    <dt>
        <label>加入日期:</label> {{ user.join_at }}
    </dt>
    
    <dt>
        {% if user.is_admin == True %}
        <label>管理員:</label> 是
        {% endif %}
    </dt>
</dl>
        
<input class="btn" type="button" value="回到首頁" onclick="location.href='/'">
{% endblock %}