<!doctype html>
<title>{% block title %}{% endblock %} - 仙人賣</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>CactuSell</h1>
  <ul>
      <li><a href="{{ url_for('register_page') }}">註冊</a>
      <li><a href="{{ url_for('login_page') }}">登入</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class={{ category }}>{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>