html { font-family: sans-serif; background: #2C3E50; padding: 11rem; }
body { width: max-content; margin: 0 auto; background: white; }
h1 { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: white; margin: 1rem 0; }
a { color: white; text-decoration: none;}
a:hover {color: #ccc; text-decoration: none;}
hr { border: none; border-top: 1px solid lightgray; }
nav { background: #1ABC9C; display: flex; align-items: center; padding: 0 0.8rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.error { margin: 1em 0; padding: 1em; background: #ffcccc; border: 1px solid #ff4d4d; }
.message { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #2ECC71; }
.info { margin: 1em 0; padding: 1em; background: #ffeea6; border: 1px solid #F39C12; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
.content a {color: #1ABC9C;}
input.danger { color: #cc2f2e; }
input {min-height: 1.7rem; font-size: 1.2rem; box-shadow: none;}
input[type=submit] { align-self: start; min-width: 10em; background-color: #16A085; color: white; border-width: 0.5px; border-radius: 3px;}
input[type=submit]:hover { background-color: #1ABC9C; }
.info_card { padding: 1rem 0.5rem; }
.item_card { margin-top: 1rem; padding: 1rem 0.5rem; background-color: #eff0f2; border-radius: 6px; margin-bottom: 20px; position: relative; text-align: center;}
.list_card { margin-top: 1rem; padding: 1rem 0.5rem; background-color: #eff0f2; border-radius: 6px; margin-bottom: 20px; position: relative; text-align: left;}
input[type=button] { align-self: start; min-width: 10em; border-width: 0.5px; border-radius: 3px;}
input[type=button]:hover { background-color: #1ABC9C; }
.back_btn {
  color: white; 
  background-color: #bdc3c7;
  min-width: 5em;
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.btn {
    background-color: #16A085;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
  }